{% extends "_baseTemplate.html" %}
{% block title %}Sign up{% endblock %}

{% block content %}
<br />

<form method="POST">
    <h3 align="center">Sign up</h3>

    <div class="form-group">
        <label for="name">Name</label>
        <input 
            type="text"
            class="form-control"
            id="name_id"
            name="name"
            placeholder="Enter name"
        />
    </div>
    <div class="form-group">
        <label for="email">Email address</label>
        <input 
            type="email"
            class="form-control"
            id="email_id"
            name="email"
            placeholder="Enter email"
        />
    </div>

    <div class="form-group">
        <label for="password">Password</label>
        <input 
            type="password"
            class="form-control"
            id="password_id"
            name="password"
            placeholder="Enter password"
        />
    </div>

    <div class="form-group">
        <label for="confirmedPassword">Confirm password</label>
        <input 
            type="password"
            class="form-control"
            id="confirmedPassword_id"
            name="confirmedPassword"
            placeholder="Confirm password"
        />
    </div>

    <div class="form-group">
        <label for="role">Role</label>
        <select class="form-control" id="role_id" name="role" required>
            <option value="" disabled selected>Choose a role</option>
            {% for role in roles %}
                <option value="{{ role.id }}">{{ role.name }}</option>
            {% endfor %}
        </select>
    </div>

    <br />

    <button type="submit" class="btn btn-primary">Sign up</button>
</form>

{% endblock %}
