{% extends "_baseTemplate.html" %}

{% block content %}
    <h1 style="text-align: center; padding: 20px;">Doctors</h1>
    <div class="container">
        <div class="row">
            <div class="col">
                <ul class="list-group">
                    {% for doctor in doctors %}
                    <a href="/doctor-profile/{{ doctor.medicID }}" style="text-decoration: none; color: black;">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                {{ doctor.username }}
                            {% if doctor.specialization_name %}
                                <span class="badge badge-primary badge-pill">{{ doctor.specialization_name }}</span>
                            {% endif %}
                        </li>
                    </a>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}